
  <div class="h2">Questions</div>
  <div class="inner-box pt-3 ">
    <div class="my-progres">
      <progress-bar class ="progress-outer" [progress]="100" [color]="'#488aff'">
      </progress-bar>
    </div>
    <div class="mt-4 question__section">
      <div class="my-question">
        <p><span>{{questionIndex+1}}</span> {{myTest[questionIndex].question}}</p>
      </div>
      <div class="custom-control custom-radio" *ngFor="let answer of myTest[questionIndex].answers;let i=index" >
        <input type="radio" class="custom-control-input" id="button-{{i}}" name="defaultExampleRadios" mdbInput
        (change)="onItemChange(answer.position,questionIndex+1)"
        >
        <label class="custom-control-label" for="button-{{i}}">{{answer.position}} {{answer.text}}</label>
      </div>
      <!-- <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="button-2" name="defaultExampleRadios" mdbInput>
        <label class="custom-control-label" for="button-2">A Default unchecked</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="button-3" name="defaultExampleRadios" mdbInput>
        <label class="custom-control-label" for="button-3">A Default unchecked</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="button-4" name="defaultExampleRadios" mdbInput>
        <label class="custom-control-label" for="button-4">A Default unchecked</label>
      </div>
      <div class="custom-control custom-radio">
        <input type="radio" class="custom-control-input" id="button-5" name="defaultExampleRadios" mdbInput>
        <label class="custom-control-label" for="button-5">A Default unchecked</label>
      </div> -->
    </div>

  </div>


