<div class="row">
  <div class="col-6 p-5">
    <div class="info-card p-5">
        <div class="info-answer row mt-2" *ngFor="let answer of this.infor;let i=index">
            <div class="col-10" style="height: 100%;width: 100%;">
              <div class="h3">
                <p>{{answer.key}} : {{answer.answer}}</p>
              </div>
            </div>
            <div class="col-1 pt-2" style="height: 100%;width: 100%;background-color: rgb(238, 238, 238);font-size: 18px;text-align: center;color:orange">
            <mdb-icon far icon="edit" ></mdb-icon>
            </div>
            <div class="col-1 pt-2" style="height: 100%;width: 100%;font-size: 18px;text-align: center; color:red;background-color: rgb(213, 213, 213)">
              <a  (click)=" deleteInfor(i)"><mdb-icon far icon="trash-alt" ></mdb-icon></a>
            </div>
        </div>
    </div>
  </div>
  <div class="col-6 mx-auto">

    <div id="form" class="mt-5">

      <div class="p-5">

        <p class="h4 mb-4 text-left">
          Please answer the following before you proceed to writing
        </p>

        <p *ngIf="this.qustion">{{this.qustion['Question']}}</p>
        <!-- Name -->
        <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="info" [(ngModel)]="inputValue" >



        <!-- Sign in button -->
        <div class="row jutify-content-left ml-1" >
          <button mdbBtn color="info" type="submit" (click)="saveAnswer(this.qustion['key'])">{{this.button_text}}</button>
        </div>



      </div>
    </div>
  </div>
</div>
