<div id="form">

  <form class="text-center border border-light p-5">

    <p class="h4 mb-4">Subscribe</p>

    <p>Join our mailing list. We write rarely, but only with the best content.</p>

    <p>
      <a href="" target="_blank">See the last newsletter</a>
    </p>

    <!-- Name -->
    <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Name">

    <!-- Email -->
    <input type="email" id="defaultSubscriptionFormEmail" class="form-control mb-4" placeholder="E-mail">

    <!-- Sign in button -->
    <div class="row jutify-content-left ml-1">
      <button mdbBtn color="info" type="submit" routerLink="/info">Get Started</button>
    </div>



  </form>
</div>
 <div id="circle">
    <div id="gif-container">
      <img src="../assets/logos/—Pngtree—black laptop beautiful laptop hand_3881248.png" class="img-fluid " alt="zoom">
    </div>
 </div>
