<div class="row">
  <div class="col-6 p-5">
    <div class="box p-5 box-1">
   <app-questions-page></app-questions-page>
      <div id="next_and_prev">
        <button mdbBtn type="button" color="danger" mdbWavesEffect (click)="prev()">prev</button>
        <button mdbBtn type="button" color="primary" mdbWavesEffect (click)="next()">next</button>
      </div>

    </div>
  </div>
  <div class="col-6 p-5">
    <div class="box box-2 p-5">
      <app-answers-page></app-answers-page>
    </div>
  </div>
</div>
